//FONTS
$font-display: 'Playfair Display', 'Aachen Std Bold', serif;
$font-main: "Muli", sans-serif;
$font-minor: "Arial", sans-serif;

// $font-size-main: 1.5rem;

//COLORS

//BLACKS
$color-black-1: #000;

//WHITES
$color-white-1: #fff;
$color-white-2: #f3f0f0;

//GREYS
//LIGHT-GREYS
$color-grey-light-1: #E6E6E6;

//MID-GREYS
$color-grey-mid-1: #999;
$color-grey-mid-2: #807e7e;

//DARK GREYS
$color-grey-dark-1: #4d4d4d;

//GREENS
$color-green-1: #00a700;


