.pill {
    background-color: $color-black-1;
    color: $color-white-1;
    text-transform: uppercase;
    padding: .5rem 1rem;
    font-size: 1rem;
    
    &__close {
        margin-left: .5rem;
        cursor: pointer;
    }
}